# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv',sep=',')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [54]:
df1 = df.iloc[:,0:12]
df1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [55]:
lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [57]:
df[['Mjob','Fjob']].applymap(lambda x: x.upper())

         Mjob      Fjob
0     AT_HOME   TEACHER
1     AT_HOME     OTHER
2     AT_HOME     OTHER
3      HEALTH  SERVICES
4       OTHER     OTHER
5    SERVICES     OTHER
6       OTHER     OTHER
7       OTHER   TEACHER
8    SERVICES     OTHER
9       OTHER     OTHER
10    TEACHER    HEALTH
11   SERVICES     OTHER
12     HEALTH  SERVICES
13    TEACHER     OTHER
14      OTHER     OTHER
15     HEALTH     OTHER
16   SERVICES  SERVICES
17      OTHER     OTHER
18   SERVICES  SERVICES
19     HEALTH     OTHER
20    TEACHER     OTHER
21     HEALTH    HEALTH
22    TEACHER     OTHER
23      OTHER     OTHER
24   SERVICES    HEALTH
25   SERVICES  SERVICES
26      OTHER     OTHER
27     HEALTH  SERVICES
28   SERVICES     OTHER
29    TEACHER   TEACHER
..        ...       ...
365   AT_HOME     OTHER
366   TEACHER  SERVICES
367     OTHER  SERVICES
368   AT_HOME  SERVICES
369     OTHER   TEACHER
370  SERVICES  SERVICES
371   AT_HOME  SERVICES
372     OTHER   AT_HOME
373     OTHER     OTHER
374     OTHER     OTHER
375     OTHER     OTHER
376    HEALTH     OTHER
377   TEACHER  SERVICES
378     OTHER     OTHER
379   AT_HOME     OTHER
380   TEACHER   TEACHER
381     OTHER     OTHER
382     OTHER  SERVICES
383     OTHER  SERVICES
384     OTHER     OTHER
385   AT_HOME     OTHER
386   TEACHER   AT_HOME
387  SERVICES     OTHER
388   TEACHER  SERVICES
389     OTHER     OTHER
390  SERVICES  SERVICES
391  SERVICES  SERVICES
392     OTHER     OTHER
393  SERVICES     OTHER
394     OTHER   AT_HOME

[395 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [58]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [59]:
df[['Mjob','Fjob']] = df[['Mjob','Fjob']].applymap(lambda x: x.upper())
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,SERVICES,OTHER,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,OTHER,TEACHER,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,SERVICES,OTHER,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,OTHER,OTHER,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,TEACHER,HEALTH,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,SERVICES,OTHER,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,HEALTH,SERVICES,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,TEACHER,OTHER,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,OTHER,OTHER,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,HEALTH,OTHER,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,SERVICES,SERVICES,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,SERVICES,SERVICES,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,HEALTH,OTHER,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,TEACHER,OTHER,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,HEALTH,HEALTH,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,TEACHER,OTHER,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,SERVICES,HEALTH,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,SERVICES,SERVICES,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,OTHER,OTHER,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,HEALTH,SERVICES,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,SERVICES,OTHER,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,TEACHER,TEACHER,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,AT_HOME,OTHER,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,TEACHER,SERVICES,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,OTHER,SERVICES,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,AT_HOME,SERVICES,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,OTHER,TEACHER,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,SERVICES,SERVICES,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,AT_HOME,SERVICES,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,OTHER,AT_HOME,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,OTHER,OTHER,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,OTHER,OTHER,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,OTHER,OTHER,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,HEALTH,OTHER,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,TEACHER,SERVICES,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,OTHER,OTHER,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,AT_HOME,OTHER,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,TEACHER,TEACHER,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,OTHER,OTHER,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,OTHER,SERVICES,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,OTHER,SERVICES,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,OTHER,OTHER,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,AT_HOME,OTHER,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,TEACHER,AT_HOME,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,SERVICES,OTHER,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,TEACHER,SERVICES,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,OTHER,OTHER,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,...,3,2,3,3,3,5,5,8,9,9

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [70]:
def majority(df):
    df['legal_drinker'] = df['age']>17
    return df

In [71]:
print(majority(df))

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   AT_HOME   TEACHER
1       GP   F   17       U     GT3       T     1     1   AT_HOME     OTHER
2       GP   F   15       U     LE3       T     1     1   AT_HOME     OTHER
3       GP   F   15       U     GT3       T     4     2    HEALTH  SERVICES
4       GP   F   16       U     GT3       T     3     3     OTHER     OTHER
5       GP   M   16       U     LE3       T     4     3  SERVICES     OTHER
6       GP   M   16       U     LE3       T     2     2     OTHER     OTHER
7       GP   F   17       U     GT3       A     4     4     OTHER   TEACHER
8       GP   M   15       U     LE3       A     3     2  SERVICES     OTHER
9       GP   M   15       U     GT3       T     3     4     OTHER     OTHER
10      GP   F   15       U     GT3       T     4     4   TEACHER    HEALTH
11      GP   F   15       U     GT3       T     2     1  SERVICES     OTHER
12      GP   M   15       U     LE3       T     4     4    HEALTH  SERVICES
13      GP   M   15       U     GT3       T     4     3   TEACHER     OTHER
14      GP   M   15       U     GT3       A     2     2     OTHER     OTHER
15      GP   F   16       U     GT3       T     4     4    HEALTH     OTHER
16      GP   F   16       U     GT3       T     4     4  SERVICES  SERVICES
17      GP   F   16       U     GT3       T     3     3     OTHER     OTHER
18      GP   M   17       U     GT3       T     3     2  SERVICES  SERVICES
19      GP   M   16       U     LE3       T     4     3    HEALTH     OTHER
20      GP   M   15       U     GT3       T     4     3   TEACHER     OTHER
21      GP   M   15       U     GT3       T     4     4    HEALTH    HEALTH
22      GP   M   16       U     LE3       T     4     2   TEACHER     OTHER
23      GP   M   16       U     LE3       T     2     2     OTHER     OTHER
24      GP   F   15       R     GT3       T     2     4  SERVICES    HEALTH
25      GP   F   16       U     GT3       T     2     2  SERVICES  SERVICES
26      GP   M   15       U     GT3       T     2     2     OTHER     OTHER
27      GP   M   15       U     GT3       T     4     2    HEALTH  SERVICES
28      GP   M   16       U     LE3       A     3     4  SERVICES     OTHER
29      GP   M   16       U     GT3       T     4     4   TEACHER   TEACHER
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   AT_HOME     OTHER
366     MS   M   18       U     LE3       T     4     4   TEACHER  SERVICES
367     MS   F   17       R     GT3       T     1     1     OTHER  SERVICES
368     MS   F   18       U     GT3       T     2     3   AT_HOME  SERVICES
369     MS   F   18       R     GT3       T     4     4     OTHER   TEACHER
370     MS   F   19       U     LE3       T     3     2  SERVICES  SERVICES
371     MS   M   18       R     LE3       T     1     2   AT_HOME  SERVICES
372     MS   F   17       U     GT3       T     2     2     OTHER   AT_HOME
373     MS   F   17       R     GT3       T     1     2     OTHER     OTHER
374     MS   F   18       R     LE3       T     4     4     OTHER     OTHER
375     MS   F   18       R     GT3       T     1     1     OTHER     OTHER
376     MS   F   20       U     GT3       T     4     2    HEALTH     OTHER
377     MS   F   18       R     LE3       T     4     4   TEACHER  SERVICES
378     MS   F   18       U     GT3       T     3     3     OTHER     OTHER
379     MS   F   17       R     GT3       T     3     1   AT_HOME     OTHER
380     MS   M   18       U     GT3       T     4     4   TEACHER   TEACHER
381     MS   M   18       R     GT3       T     2     1     OTHER     OTHER
382     MS   M   17       U     GT3       T     2     3     OTHER  SERVICES
383     MS   M   19       R     GT3       T     1     1     OTHER  SERVICES
384     MS   M   18       R     GT3       T     4     2     OTHER     OTHER
385     MS   F   18       R     GT3       T     2     2   AT_HOME     OTHER
386     MS   F   18       R     GT3       T     4     4   TEACHER   AT_HOME
387     MS   F   19       R     GT3       T     2     3  SERVICES     OTHER
388     MS   F   18       U     LE3       T     3     1   TEACHER  SERVICES
389     MS   F   18       U     GT3       T     1     1     OTHER     OTHER
390     MS   M   20       U     LE3       A     2     2  SERVICES  SERVICES
391     MS   M   17       U     LE3       T     3     1  SERVICES  SERVICES
392     MS   M   21       R     GT3       T     1     1     OTHER     OTHER
393     MS   M   18       R     LE3       T     3     2  SERVICES     OTHER
394     MS   M   19       U     LE3       T     1     1     OTHER   AT_HOME

         ...      freetime goout  Dalc  Walc  health absences  G1  G2  G3  \
0        ...             3     4     1     1       3        6   5   6   6
1        ...             3     3     1     1       3        4   5   5   6
2        ...             3     2     2     3       3       10   7   8  10
3        ...             2     2     1     1       5        2  15  14  15
4        ...             3     2     1     2       5        4   6  10  10
5        ...             4     2     1     2       5       10  15  15  15
6        ...             4     4     1     1       3        0  12  12  11
7        ...             1     4     1     1       1        6   6   5   6
8        ...             2     2     1     1       1        0  16  18  19
9        ...             5     1     1     1       5        0  14  15  15
10       ...             3     3     1     2       2        0  10   8   9
11       ...             2     2     1     1       4        4  10  12  12
12       ...             3     3     1     3       5        2  14  14  14
13       ...             4     3     1     2       3        2  10  10  11
14       ...             5     2     1     1       3        0  14  16  16
15       ...             4     4     1     2       2        4  14  14  14
16       ...             2     3     1     2       2        6  13  14  14
17       ...             3     2     1     1       4        4   8  10  10
18       ...             5     5     2     4       5       16   6   5   5
19       ...             1     3     1     3       5        4   8  10  10
20       ...             4     1     1     1       1        0  13  14  15
21       ...             4     2     1     1       5        0  12  15  15
22       ...             5     1     1     3       5        2  15  15  16
23       ...             4     4     2     4       5        0  13  13  12
24       ...             3     2     1     1       5        2  10   9   8
25       ...             2     2     1     3       5       14   6   9   8
26       ...             2     2     1     2       5        2  12  12  11
27       ...             2     4     2     4       1        4  15  16  15
28       ...             3     3     1     1       5        4  11  11  11
29       ...             4     5     5     5       5       16  10  12  11
..       ...           ...   ...   ...   ...     ...      ...  ..  ..  ..
365      ...             3     4     2     4       3        4  10  10  10
366      ...             2     2     2     2       5        0  13  13  13
367      ...             2     1     1     2       1        0   7   6   0
368      ...             2     3     1     2       4        0  11  10  10
369      ...             2     2     4     2       5       10  14  12  11
370      ...             2     2     1     1       3        4   7   7   9
371      ...             3     3     2     3       3        3  14  12  12
372      ...             4     3     1     1       3        8  13  11  11
373      ...             5     5     1     3       1       14   6   5   5
374      ...             4     4     1     1       1        0  19  18  19
375      ...             3     2     1     2       4        2   8   8  10
376      ...             4     3     1     1       3        4  15  14  15
377      ...             4     3     3     4       2        4   8   9  10
378      ...             1     3     1     2       1        0  15  15  15
379      ...             5     4     2     3       1       17  10  10  10
380      ...             2     4     1     4       2        4  15  14  14
381      ...             4     3     1     3       5        5   7   6   7
382      ...             4     3     1     1       3        2  11  11  10
383      ...             3     2     1     3       5        0   6   5   0
384      ...             4     3     4     3       3       14   6   5   5
385      ...             3     3     1     3       4        2  10   9  10
386      ...             4     3     2     2       5        7   6   5   6
387      ...             4     2     1     2       5        0   7   5   0
388      ...             3     4     1     1       1        0   7   9   8
389      ...             1     1     1     1       5        0   6   5   0
390      ...             5     4     4     5       4       11   9   9   9
391      ...             4     5     3     4       2        3  14  16  16
392      ...             5     3     3     3       3        3  10   8   7
393      ...             4     1     3     4       5        0  11  12  10
394      ...             2     3     3     3       5        5   8   9   9

    legal_drinker
0            True
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False
29          False
..            ...
365          True
366          True
367         False
368          True
369          True
370          True
371          True
372         False
373         False
374          True
375          True
376          True
377          True
378          True
379         False
380          True
381          True
382         False
383          True
384          True
385          True
386          True
387          True
388          True
389          True
390          True
391         False
392          True
393          True
394          True

[395 rows x 34 columns]

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [75]:
def times10(x):
    if type(x) is int:
        return 10 * x
    return x
df.applymap(times10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,TEACHER,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,AT_HOME,OTHER,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,AT_HOME,OTHER,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,HEALTH,SERVICES,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,...,30,20,10,20,50,40,60,100,100,False
5,GP,M,160,U,LE3,T,40,30,SERVICES,OTHER,...,40,20,10,20,50,100,150,150,150,False
6,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,...,40,40,10,10,30,0,120,120,110,False
7,GP,F,170,U,GT3,A,40,40,OTHER,TEACHER,...,10,40,10,10,10,60,60,50,60,False
8,GP,M,150,U,LE3,A,30,20,SERVICES,OTHER,...,20,20,10,10,10,0,160,180,190,False
9,GP,M,150,U,GT3,T,30,40,OTHER,OTHER,...,50,10,10,10,50,0,140,150,150,False
10,GP,F,150,U,GT3,T,40,40,TEACHER,HEALTH,...,30,30,10,20,20,0,100,80,90,False
11,GP,F,150,U,GT3,T,20,10,SERVICES,OTHER,...,20,20,10,10,40,40,100,120,120,False
12,GP,M,150,U,LE3,T,40,40,HEALTH,SERVICES,...,30,30,10,30,50,20,140,140,140,False
13,GP,M,150,U,GT3,T,40,30,TEACHER,OTHER,...,40,30,10,20,30,20,100,100,110,False
14,GP,M,150,U,GT3,A,20,20,OTHER,OTHER,...,50,20,10,10,30,0,140,160,160,False
15,GP,F,160,U,GT3,T,40,40,HEALTH,OTHER,...,40,40,10,20,20,40,140,140,140,False
16,GP,F,160,U,GT3,T,40,40,SERVICES,SERVICES,...,20,30,10,20,20,60,130,140,140,False
17,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,...,30,20,10,10,40,40,80,100,100,False
18,GP,M,170,U,GT3,T,30,20,SERVICES,SERVICES,...,50,50,20,40,50,160,60,50,50,False
19,GP,M,160,U,LE3,T,40,30,HEALTH,OTHER,...,10,30,10,30,50,40,80,100,100,False
20,GP,M,150,U,GT3,T,40,30,TEACHER,OTHER,...,40,10,10,10,10,0,130,140,150,False
21,GP,M,150,U,GT3,T,40,40,HEALTH,HEALTH,...,40,20,10,10,50,0,120,150,150,False
22,GP,M,160,U,LE3,T,40,20,TEACHER,OTHER,...,50,10,10,30,50,20,150,150,160,False
23,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,...,40,40,20,40,50,0,130,130,120,False
24,GP,F,150,R,GT3,T,20,40,SERVICES,HEALTH,...,30,20,10,10,50,20,100,90,80,False
25,GP,F,160,U,GT3,T,20,20,SERVICES,SERVICES,...,20,20,10,30,50,140,60,90,80,False
26,GP,M,150,U,GT3,T,20,20,OTHER,OTHER,...,20,20,10,20,50,20,120,120,110,False
27,GP,M,150,U,GT3,T,40,20,HEALTH,SERVICES,...,20,40,20,40,10,40,150,160,150,False
28,GP,M,160,U,LE3,A,30,40,SERVICES,OTHER,...,30,30,10,10,50,40,110,110,110,False
29,GP,M,160,U,GT3,T,40,40,TEACHER,TEACHER,...,40,50,50,50,50,160,100,120,110,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,AT_HOME,OTHER,...,30,40,20,40,30,40,100,100,100,True
366,MS,M,180,U,LE3,T,40,40,TEACHER,SERVICES,...,20,20,20,20,50,0,130,130,130,True
367,MS,F,170,R,GT3,T,10,10,OTHER,SERVICES,...,20,10,10,20,10,0,70,60,0,False
368,MS,F,180,U,GT3,T,20,30,AT_HOME,SERVICES,...,20,30,10,20,40,0,110,100,100,True
369,MS,F,180,R,GT3,T,40,40,OTHER,TEACHER,...,20,20,40,20,50,100,140,120,110,True
370,MS,F,190,U,LE3,T,30,20,SERVICES,SERVICES,...,20,20,10,10,30,40,70,70,90,True
371,MS,M,180,R,LE3,T,10,20,AT_HOME,SERVICES,...,30,30,20,30,30,30,140,120,120,True
372,MS,F,170,U,GT3,T,20,20,OTHER,AT_HOME,...,40,30,10,10,30,80,130,110,110,False
373,MS,F,170,R,GT3,T,10,20,OTHER,OTHER,...,50,50,10,30,10,140,60,50,50,False
374,MS,F,180,R,LE3,T,40,40,OTHER,OTHER,...,40,40,10,10,10,0,190,180,190,True
375,MS,F,180,R,GT3,T,10,10,OTHER,OTHER,...,30,20,10,20,40,20,80,80,100,True
376,MS,F,200,U,GT3,T,40,20,HEALTH,OTHER,...,40,30,10,10,30,40,150,140,150,True
377,MS,F,180,R,LE3,T,40,40,TEACHER,SERVICES,...,40,30,30,40,20,40,80,90,100,True
378,MS,F,180,U,GT3,T,30,30,OTHER,OTHER,...,10,30,10,20,10,0,150,150,150,True
379,MS,F,170,R,GT3,T,30,10,AT_HOME,OTHER,...,50,40,20,30,10,170,100,100,100,False
380,MS,M,180,U,GT3,T,40,40,TEACHER,TEACHER,...,20,40,10,40,20,40,150,140,140,True
381,MS,M,180,R,GT3,T,20,10,OTHER,OTHER,...,40,30,10,30,50,50,70,60,70,True
382,MS,M,170,U,GT3,T,20,30,OTHER,SERVICES,...,40,30,10,10,30,20,110,110,100,False
383,MS,M,190,R,GT3,T,10,10,OTHER,SERVICES,...,30,20,10,30,50,0,60,50,0,True
384,MS,M,180,R,GT3,T,40,20,OTHER,OTHER,...,40,30,40,30,30,140,60,50,50,True
385,MS,F,180,R,GT3,T,20,20,AT_HOME,OTHER,...,30,30,10,30,40,20,100,90,100,True
386,MS,F,180,R,GT3,T,40,40,TEACHER,AT_HOME,...,40,30,20,20,50,70,60,50,60,True
387,MS,F,190,R,GT3,T,20,30,SERVICES,OTHER,...,40,20,10,20,50,0,70,50,0,True
388,MS,F,180,U,LE3,T,30,10,TEACHER,SERVICES,...,30,40,10,10,10,0,70,90,80,True
389,MS,F,180,U,GT3,T,10,10,OTHER,OTHER,...,10,10,10,10,50,0,60,50,0,True
390,MS,M,200,U,LE3,A,20,20,SERVICES,SERVICES,...,50,40,40,50,40,110,90,90,90,True
391,MS,M,170,U,LE3,T,30,10,SERVICES,SERVICES,...,40,50,30,40,20,30,140,160,160,False
392,MS,M,210,R,GT3,T,10,10,OTHER,OTHER,...,50,30,30,30,30,30,100,80,70,True
393,MS,M,180,R,LE3,T,30,20,SERVICES,OTHER,...,40,10,30,40,50,0,110,120,100,True
394,MS,M,190,U,LE3,T,10,10,OTHER,AT_HOME,...,20,30,30,30,50,50,80,90,90,True