# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [10]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [11]:
cars1.drop(cars1.iloc[:, 9:], inplace=True, axis=1)

### Step 5. What is the number of observations in each dataset?

In [13]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [17]:
cars = pd.merge(cars1,cars2,how='outer')
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [28]:
cars['owners'] = np.random.randint(15000, 73000, cars.shape[0])

### Step 8. Add the column owners to cars

In [30]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,37558
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,60557
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,72897
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,38872
4,17.0,8,302,140,3449,10.5,70,1,ford torino,56823